.list {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 3px 3px 5px 0px rgba(186, 186, 186, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(186, 186, 186, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(186, 186, 186, 0.75);
  background-color: rgba(0, 0, 0, 0.02);
}

button {
  background-color: transparent;
}
